header {
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    border-bottom: rgb(219, 219, 219) 1px solid;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    align-items: center;
    max-width: 1000px;
}

.divHaveSerchBarAndLogo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

#searchIcon {
    top: 9px;
    left: 5px;
    position: absolute;
    z-index: 2;
    width: 15px; 
    height: 15px;
    background: rgb(239, 239, 239);
}

#searchIcon2 {
    display: none;
    top: 9px;
    right: 10px ;
    position: absolute;
    z-index: 3;
    width: 17px; 
    height: 17px;
    background: #D0D0D1;
    border-radius: 50%;
    color: white;
}

.divHaveSerchBarInNav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#serchInpt::placeholder {
    padding-inline-start: 20px;
    
}

#serchInpt {
   padding: 10px;
   border: none;
   min-width: 125px;
   width: 250px;
   background: rgb(239, 239, 239);   
   border-radius: 8px;
   min-height: 30px;
}

#serchInpt:focus::placeholder {
    padding-inline-start: 0px;
}

.navMenu {
    display: flex;
    column-gap: 22px;
    list-style: none;
}